#tool_window
{
    width: 100%;
    height: auto;
    background: rgb(72,72,72);

}

#title{
    float:left;
    font-family:verdana;
    font-size: 12pt;
    color:rgb(200,200,200);
    padding-left:20px;
}
#button_close{
    float: right;

}